{#
	Test typography
#}
<div id="resume-photo">

	<div class="wrap layout">
		<h1 class="text-right">{{"layer_1.title"|trans()}}</h1>
		<h2 class="text-right">{{"layer_1.sub_title"|trans()}}
			<br />
			<img alt="web logos" src="{{asset('bundles/beltoncv/images/web-logo.png')}}" />
		</h2>

		<!-- MENU -->
		<ul role="navigation" id="menu">
			<li>
				<a href="#layer_4" >{{"layer_1.menu.contact"|trans()}}</a>
			</li>
			<li>
				<a href="#layer_3" >{{"layer_1.menu.convince"|trans()}}</a>
			</li>
			<li>
				<a href="#layer_2" >{{"layer_1.menu.traverses"|trans()}}</a>
			</li>
			<li>
				<a href="#layer_1" >{{"layer_1.menu.skills"|trans()}}</a>
			</li>
		</ul>
	</div>

</div>