<div class="white-background">

	<div class="wrap layout">

		<div class="wrap">
			<h1>{{"layer_3.title"|trans()}}</h1>
		</div>

		<div class="wrap" id="traverses-panel">

			{% for i in 0..16 %}

				<div class="wrap step-block {% if loop.first %}selected{% endif %}"
					 data-referTo="{{i}}">
					<div class="step-white step-image" style="background-position:0 -{{ i * 38 }}px"></div>
					<div class="step-black step-image" style="background-position:0px -{{ i * 38 }}px"></div>
				</div>

			{% endfor %}

		</div>

		<div class="wrap">

			{% for j in 1..17 %}

				<div class="wrap traverses-content" data-id="{{j-1}}">
					{% include 'BeltonCVBundle:Traverses:step'~j~'.html.twig' %}
				</div>

			{% endfor %}

		</div>

	</div>

</div>