<div class="white-background">

	<div class="wrap layout">

		<h1>{{"layer_2.title"|trans()}}</h1>

		<div class="wrap" id="my-skills">

			<div class="skill-block wrap">
				<div class="pos">
					<div class="level first">
						<h2 class="html-level percent">75%</h2>
						<h3>HTML5/CSS3</h3>
					</div>

					<div class="level black-block">
						<p>{{"layer_2.skills.html"|trans()|raw}}</p>
					</div>
				</div>

			</div>

			<div class="skill-block wrap">
				<div class="pos">
					<div class="level first">
						<h2 class="js-level percent">90%</h2>
						<h3>Javascript</h3>
					</div>

					<div class="level black-block">
						<p>{{"layer_2.skills.js"|trans()|raw}}</p>
					</div>
				</div>

			</div>

			<div class="skill-block wrap">

				<div class="pos">
					<div class="level first">
						<h2 class="php-level percent">95%</h2>
						<h3>PHP</h3>
					</div>

					<div class="level black-block">
						<p>{{"layer_2.skills.php"|trans()|raw}}</p>
					</div>
				</div>

			</div>

			<div class="skill-block wrap">

				<div class="pos">
					<div class="level first">
						<h2 class="python-level percent">62%</h2>
						<h3>Python</h3>
					</div>

					<div class="level black-block">
						<p>{{"layer_2.skills.python"|trans()|raw}}</p>
					</div>
				</div>

			</div>

			<div class="skill-block wrap">

				<div class="pos">
					<div class="level first">
						<h2 class="symfony-level percent">90%</h2>
						<h3>Symfony 2</h3>
					</div>

					<div class="level black-block">
						<p>{{"layer_2.skills.symfony"|trans()|raw}}</p>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>